.cart
    position: fixed
    display: flex
    flex-direction: column
    align-items: center
    width: 346px
    height: calc(100vh - 70px)
    background-color: #fff
    top: 70px
    right: 0px
    text-align: center
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.08);
    &__item
        display: flex
        position: relative
        justify-content: space-between
        align-items: center
        width: 346px
        height: 62px
        border-bottom: 1px solid #e3e4e6
        padding: 15px 40px
        &:hover
            .cart__item__name-counter__counter__minus
                display: block
            .cart__item__name-counter__counter__plus
                display: block
            .cart__item__name-counter
                width: 74%
        &__name-counter
            position: absolute
            width: 61%
            right: 92px
            display: flex
            align-items: center
            transition: all 0.3s
            &__name
                position: absolute
                left: 0px
                font-family: 'Roboto', sans-serif
                font-size: 12px
                font-weight: 400
            &__counter
                position: absolute
                right: 0
                display: flex
                align-items: center
                transition: all 0.3s
                &__quantity
                    background-color: #919399
                    border-radius: 100%
                    width: 24px
                    height: 24px
                    line-height: 25px
                    color: #fff
                    font-size: 14px
                    font-family: 'Roboto', sans-serif
                    margin: 0 10px
                    transition: all 0.3s

                &__minus
                    display: none
                    background: none
                    border: none
                    outline: none
                    cursor: pointer
                    font-size: 26px
                    font-weight: 500
                    color: #919399
                    transition: all 0.3s

                &__plus
                    display: none
                    background: none
                    border: none
                    outline: none
                    cursor: pointer
                    font-size: 26px
                    font-weight: 500
                    color: #919399

        &__price
            position: absolute
            font-weight: 500
            font-size: 14px
            right: 10px

    &__button
        position: absolute
        display: flex
        justify-content: space-between
        align-items: center
        bottom: 15px
        left: 10px
        width: 328px
        height: 56px
        background-color: #0ec645
        border: none
        cursor: pointer
        border-radius: 5px
        text-align: left
        padding: 0 22px
        outline: none
        &:hover
                background-color: #10b93d
        &__title
            color: #fff
            font-family: 'Roboto', sans-serif
            font-size: 18px
            font-weight: 300
        &__total-price
            color: #fff
            font-family: 'Roboto', sans-serif
            font-size: 18px
            font-weight: 300

    &__img__cart
        width: 150px
        margin-top: 170px
        padding-right: 24px
    &__descr
        font-family: 'Roboto', sans-serif
        font-size: 17px
        margin-top: 12px
        color: #9b9b9d
    &__wrapper
        width: 100%
        max-height: 85%
        overflow: auto
    &__order__place
        min-height: 150px
        width: 100%
    &__restaurant__info
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        height: 62px
        border-bottom: 1px solid #e3e4e6
        padding: 15px 40px
        img
            width: 50px
        &__descr
            text-align: left
            span
                font-size: 12px
                font-weight: 400
                font-family: 'Roboto', sans-serif
            &__name
                font-size: 18px
                font-weight: 400
                font-family: 'Roboto', sans-serif


